
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTQR READY</title>
    <link href="/dist/output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body class="min-h-screen h-full grid place-items-center ">
    <section class="bg-white ">
        <img class="w-[300px] bg-opacity-0" src=<%=src%> alt="QR Code Image">
        <div class="grid place-items-center gap-2">
            <p>Scan the QR Code to access data!</p>
                <a class="border-2 border-background px-3 py-1 hover:scale-95 transition duration-200 ease-in-out"  href="/"><button type="button" class="btn btn-primary">Back</button></a>
        </div>
    </section>
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</body>
</html>